
/**************모바일****************/
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/**************header area****************/
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    box-sizing: border-box;
    text-align: center;
    color: #333;
    padding: 20px 0 20px 0;
    font-size: 22px;
    width: 100%;
    height: 128px;
}
.header li{
    width: 100%;
    height: 36px;
}
.logo{
    width: 114px;
    height: 50px;
}
.logo_m{
    display: block;
    margin: 15px auto;
    height: 20px;
}
.logo_pc{
    display: none;
}
.toogle{
    position: absolute;
    width: 46px;
    height: 50px;
    right: 0;
}
.toogle img{
    display: block;
    margin: 15px auto;
    width: 20px;
    height: 20px;
}
/**************banner area****************/
.banner{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #ffee22;
    width: 100%;
}
.banner_box{
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 35px 20px 35px;
}
.banner_box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    order: 4;
    font-size: 16px;
}
.banner_strawberry{
    margin: auto;
    order: 0;
    width: 250px;
    height: 180px;
}
.info{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    color: #333;
    order: 1;
    width: 250px;
    font-size: 22px;
    line-height: 28px;
    -webkit-line-clamp: 2;
}
.banner hr{
    border: 1px solid #333;
    background: #333;
    margin: 20px auto;
    order: 2;
    width: 40px;
}
.thumbnail_profile{
    border-radius: 50%;
}
/**************gallery area****************/
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 100%;
}
.gallery_box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gallery_box img{
    width: 100%;
}
.pumpkin{
    padding: 15px;
}
.pumpkin img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.pumpkin div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    height: 60px;
    line-height: 60px;
    bottom: 0;
    font-size: 18px;
}
.lime{
    padding: 15px;
}
.lime img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.lime div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.paprika{
    padding: 15px;
}
.paprika img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.paprika div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.garlic{
    padding: 15px;
}
.garlic img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.garlic div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.onion{
    padding: 15px;
}
.onion img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.onion div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.avocado{
    padding: 15px;
}
.avocado img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.avocado div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.more{
    color: #333;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
    min-width: 290px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
}
.more img{
    width: 10%;
}
/**************send area****************/
.send{
    background: #f0f0f0;
    width: 100%;
}
.send_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.send h1{
    color: #333;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 15px 0;
}
.send h2{
    color: #333;
    margin: 0 0 20px 0;
    font-size: 14px;
}
.sendBox{
    box-sizing: border-box;
    position: relative;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: 100%;
}
.sendBox p{
    color: #333;
    font-weight: bold;
    width: 100%;
    margin: 0px 0px 20px 0px;
    font-size: 16px;
}
.text{
    color: #333;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    margin: 0 25px 20px 0;
    font-size: 14px;
}
.id{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    width: 45%;
}
.sendBox select{
    color: #c1c1c1;
    background: url('./image/icon_arrow_email.png') no-repeat 95% 50%;
    appearance: none;   
    border: none;
    border-bottom: 1px solid #c1c1c1;
    width: 45%;
    font-size: 14px;
}
.sendBox input::placeholder{
    color: #acacac;
    font-size: 14px;
}
select::-ms-expand {
    display: none;
}
.sendBox textarea{
    border: 1px solid #c1c1c1;
    margin: 20px 20px 0 0;
    width: 100%;
}
.sendBox textarea::placeholder{
    color: #acacac;
    font-size: 14px;
}
.sendBox button{
    position: absolute;
    border: 2px solid #bdbdbd;
    background: #e9e9e9;
    color: #666;
    margin: 15px 25px 0 0;
    font-size: 11px;
    right: 0;
    top: 0;
}
/**************notice area****************/
.notice{
    background: #f0f0f0;
    width: 100%;
}
.notice_box1{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid #c1c1c1;
    height: 120px;
    width: 100%;
}
.notice_box1 h1{
    color: #333;
    font-weight: bold;
    margin: 40px 0 20px 15px;
    font-size: 16px;
}
.notice_box1 h2{
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    margin:10px 0 0 15px;
    width: 70%;
    font-size: 14px;
}
.notice_box1 p{
    position: absolute;
    color: #333;
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
    font-size: 14px;
}
.notice_box2{
    display: flex;
    flex-flow: column;
    justify-content:start;
    margin: 0 auto;
    width: 100%;
}
.notice_1{
    display: flex;
    flex-flow: row wrap;
    color: #333;
    margin: 20px 0 0 15px;
    font-size: 14px;
}
.notice_1 li:first-child{
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
}
.notice_1 li:last-child{
    border-left: 1px solid #333;
    margin-left: 20px;
    padding-left: 20px;
}
.notice_2{
    display: flex;
    flex-flow: row wrap;
    color: #333;
    margin: 20px 0 20px 15px;
    font-size: 14px;
}
.notice_2 li:first-child{
    color: #333;
    font-weight: bold;
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 16px;
}
.notice_2 li:last-child{
    border-left: 1px solid #333;
    margin-left: 20px;
    padding-left: 20px;
}
/**************footer area****************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #fff;
    width: 100%;
}
.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #333;
    font-size: 14px;
    width: 100%;
    margin: 30px 0 20px 0;
}
.footer p{
    margin-bottom: 20px;
}
/**************테블릿****************/
@media all and (min-width:768px){
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/**************header area****************/
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #333;
    font-size: 18px;
    width: 30%;
    height: 50px;
    line-height: 32px;
}
.logo{
    width: 114px;
    height: 50px;
}
.logo_m{
    display: block;
    margin: 15px auto;
    height: 20px;
}
.logo_pc{
    display: none;
}
.toogle{
    display: none;
}
/**************banner area****************/
.banner{
    display: flex;
    flex-flow: column wrap;
    background-color: #ffee22;
    width: 100%;
    height: 330px;
}
.banner_box{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 330px;
    padding: 20px 34px 20px 34px;
}
.banner_box1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #333;
    text-align: center;
    order: 2;
    font-size: 18px;
}
.banner_strawberry{
    margin: auto;
    order: 3;
    width: 350px;
    height: 252px;
}
.info{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    color: #333;
    order: 0;
    font-size: 32px;
    line-height: 40px;
    width: 49%;
}
.banner hr{
    border: 1px solid #333;
    background: #333;
    order: 1;
    width: 40px;
}
.thumbnail_profile{
    border-radius: 50%;
}
/**************gallery area****************/
.gallery{
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 34px 0 34px;
}
.gallery_box{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.gallery_box img{
    width: 100%;
}
.pumpkin{
    width: 45%;
}
.pumpkin img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.pumpkin div{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    bottom: 0;
    font-size: 18px;
    -webkit-line-clamp: 1;
}
.lime{
    width: 45%;
}
.lime img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.lime div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.paprika{
    width: 40%;
}
.paprika img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.paprika div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.garlic{
    width: 40%;
}
.garlic img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.garlic div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.onion{
    width: 40%;
}
.onion img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.onion div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.avocado{
    width: 40%;
}
.avocado img{
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.avocado div{
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    font-size: 18px;
}
.more{
    color: #333;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
    min-width: 290px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
}
.more img{
    width: 10%;
}
}
/**************PC****************/
@media all and (min-width:1024px){
    #wrap{
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .header{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 988px;
        height: 70px;
        background-color: #fff;
        border: 1px solid red;
    }
    .header img{
        margin-left: 18px;
    }
    .header ul{
        position: absolute;
        right: 0;
        display: flex;
        width: 30%;
        font-size: 22px;
        color: #333;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .header a:hover{
        font-weight: bold;
    }
    .toogle{
        display: none;
    }
    .banner{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 420px;
        background-color: #ffee22;
    }
    .banner_box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 980px;
        height: 420px;
    }
    .banner_box1{
        font-size: 18px;
        color: #333;
        border: 1px solid red;
    }
    .banner_box1 img{
        margin: auto 0;
    }
    .banner_strawberry{
        width: 500px;
        height: 360px;
        margin: auto 0;
    }
    .info{
        margin-top: 80px;
        width: 460px;
        height: 156px;
        font-size: 40px;
        color: #333;
        line-height: 52px;
    }
    .banner hr{
        width: 90px;
        background-color: #000;
        margin: 30px 0 30px 0;
    }
    .thumbnail_profile{
        border-radius: 50%;        
    }
    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f0f0f0;
    }
    .gallery_box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .gallery_box img{
        width: 316px;
        height: 316px;
        margin: 20px 0 0 0;
    }
    .pumpkin{
        position: relative;
    }
    .pumpkin div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .pumpkin img:hover{
        opacity: 0.3;
    }
    .pumpkin:hover div{
        display: block;
    }
    .lime{
        position: relative;
    }
    .lime div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .lime img:hover{
        opacity: 0.3;
    }
    .lime:hover div{
        display: block;
    }
    .paprika{
        position: relative;
    }
    .paprika div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .paprika img:hover{
        opacity: 0.3;
    }
    .paprika:hover div{
        display: block;
    }
    .garlic{
        position: relative;
    }
    .garlic div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .garlic img:hover{
        opacity: 0.3;
    }
    .garlic:hover div{
        display: block;
    }
    .onion{
        position: relative;
    }
    .onion div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .onion img:hover{
        opacity: 0.3;
    }
    .onion:hover div{
        display: block;
    }
    .avocado{
        position: relative;
    }
    .avocado div{
        position: absolute;
        z-index: 1;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        bottom: 0;
        font-size: 18px;
        color: #333;
        background-color: #fff;
        display: none;
    }
    .avocado img:hover{
        opacity: 0.3;
    }
    .avocado:hover div{
        display: block;
    }
    .more{
        width: 988px;
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        margin: 20px 0 20px 0;
        color: #333;
        text-align: center;
        background: #fff;
    }
    .send{
        width: 100%;
        height: 600px;
        background-color: #f4f5f7;
    }
    .send_wrap{
        position: relative;
        width: 988px;
        background-color: #f4f5f7;
        margin: 0 auto;
    }
    .send h1{
        margin: 100px 0 50px 0;
        font-size: 42px;
        width: 350px;
        color: #333;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }
    .send h2{
        font-size: 18px;
        color: #333;
        margin: 0 0 200px 0;
    }
    .sendBox{
        position: absolute;
        align-items: center;
        top: 0;
        right: 0;
        z-index: 4;
        width: 590px;
        background-color: white;
    }
    .sendBox p{
        margin: 30px 0 20px 50px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
        
    }
    .text{
        width: 490px;
        margin: 0 0 0 50px;
        font-size: 14px;
        color: #333;
        border: none;
        border-bottom: 1px solid #c1c1c1;
        
    }
    .id{
        width: 230px;
        margin: 0 0 0 50px;
        border: none;
        border-bottom: 1px solid #c1c1c1;
    }

    .sendBox select{
        width: 240px;
        font-size: 14px;
        color: #c1c1c1;
        background: url('./image/icon_arrow_email.png') no-repeat 95% 50%;
        appearance: none;
        appearance: none;
        appearance: none;   
        border: none;
        border-bottom: 1px solid #c1c1c1;
    }
    .sendBox input::placeholder{
        font-size: 14px;
        color: #acacac;
    }
    select::-ms-expand {
        display: none;
    }
    .sendBox textarea{
        margin: 50px 50px 40px 50px;
        width: 450px;
        padding: 20px;
        border: 1px solid #c1c1c1;
    }
    .sendBox textarea::placeholder{
        font-size: 14px;
        color: #acacac;
    }
    .sendBox button{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 40px;
        margin: 20px 50px 0 0;
        border: 2px solid #bdbdbd;
    }
    .notice{
        width: 100%;
        height: 220px;
        background: #f0f0f0;
    }
    .notice_box1{
        position: relative;
        width: 988px;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        height: 120px;
        border-bottom: 1px solid #c1c1c1;
    }
    .notice_box1 h1{
        font-size: 16px;
        color: #333;
        font-weight: bold;
        margin: 40px 0 20px 0;
}
    .notice_box1 h2{
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
    }
    .notice_box1 p{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 14px;
        color: #333;
        margin-bottom: 30px;
    }
    .notice_box2{
        display: flex;
        flex-flow: row wrap;
        justify-content:start;
        height: 40px;
        width: 988px;
        margin: 0 auto;
    }
    .notice_box2 h1{
        width: 100px;
        margin: 20px 0 0 0;
    }
    .notice_box2 h2{
        width: 120px;
        margin: 20px 20px 0px 0;
    }
    .notice_box2 h3{
        width: 700px;
        border-left: 1px solid #c1c1c1;
        margin: 20px 20px 0 0;
        padding-left: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        background: #fff;
    }
    .footer ul{
        display: flex;
        width: 30%;
        margin: 30px 0 30px 0;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        color: #333;
    }
    .footer p{
        margin-bottom: 30px;
    }
}